/*styles for tortilla recipe*/
*{font-family: 'Oswald', sans-serif;
    box-sizing:border-box;
    margin:4px;
    padding: 8px;
}

body {
background-color:rgb(245, 239, 224)
}


li::marker{
    color: rgb(201, 111, 66);
}

li{
    margin-bottom:10px;
}

div{
    border:1px solid rgb(106,153,78);

}

.header-one{
    color: rgb(20, 33, 61);

}



.tortilla-pic{
   width: 200px;
}

.shout-out{
color: rgb(106,153,78);
display:block;
}

.recipe-background{

color: rgb(20, 33, 61);
}

.ingredients-header{

color: rgb(201, 111, 66);

}

.ingredients-list{
    
    color: rgb(20, 33, 61);
}

.directions-header {
    color: rgb(201, 111, 66);
}

.directions-list{

color: rgb(20, 33, 61);
}

.home-link{
color: rgb(106,153,78);
}